<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_TicTacToe">
                    <security mode="Transport" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8080/TicTacToe/Service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TicTacToe"
                contract="TicTacToeService.TicTacToe" name="NetTcpBinding_TicTacToe">
                <identity>
                    <userPrincipalName value="IBUYPOWER\jhess" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>