<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_TicTacToe" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8000/Design_Time_Addresses/Service/Service1/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TicTacToe"
                contract="ServiceReference1.TicTacToe" name="NetTcpBinding_TicTacToe">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
        <diagnostics wmiProviderEnabled="true" performanceCounters="Default" />
        <services />
    </system.serviceModel>
</configuration>
