<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <system.serviceModel>
        <services>
              <service name="TicTacToe.Service.TicTacToeService"
      behaviorConfiguration="TicTacToeMEXBehavior"  >
                    <endpoint address="Service"
         binding="netTcpBinding"
                          contract="TicTacToe.Service.ITicTacToeService" />
                    <endpoint address="mex"
         binding="mexTcpBinding"
      contract="IMetadataExchange"  />
                    <host>
                          <baseAddresses>
                                <add baseAddress="net.tcp://localhost:8080/TicTacToe/" />
                          </baseAddresses>
                    </host>
              </service>
        </services>
	<behaviors>
	  <serviceBehaviors>
		<behavior name="TicTacToeMEXBehavior" >
		  <serviceMetadata/>
		</behavior>
	  </serviceBehaviors>
	</behaviors>
	<bindings>
       <netTcpBinding>
             <binding name="NetTcpBinding_TicTacToe" />
       </netTcpBinding>
 </bindings>
	<client>
       <endpoint address="net.tcp://localhost:8080/TicTacToe/Service"
             binding="netTcpBinding" bindingConfiguration="NetTcpBinding_TicTacToe"
             contract="TicTacToeService.TicTacToe" name="NetTcpBinding_TicTacToe">
             <identity>
                   <userPrincipalName value="IBUYPOWER\jhess" />
             </identity>
       </endpoint>
 </client>
    </system.serviceModel>
</configuration>
