<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <system.serviceModel>
        <services>
            <service name="TicTacToe.Service.TicTacToeService"
					 behaviorConfiguration = "TicTacToeMEXBehavior">
                <endpoint address="Service"
						  binding="wsDualHttpBinding"
						  contract="TicTacToe.Service.ITicTacToeService" />
			  <endpoint address="mex"
						binding ="mexHttpBinding"
						contract ="IMetadataExchange" />
			  <host>
				<baseAddresses>
				  <add baseAddress="http://localhost:8080/TicTacToe/"/>
				</baseAddresses>
			  </host>
            </service>
        </services>
	<behaviors>
	  <serviceBehaviors>
		<behavior name="TicTacToeMEXBehavior" >
		  <serviceMetadata httpGetEnabled="true"/>
		</behavior>
	  </serviceBehaviors>
	</behaviors>
	<bindings>
	  <wsDualHttpBinding>
		<binding name="WSDualHttpBinding_TicTacToe" />
	  </wsDualHttpBinding>
	</bindings>
	<client>
	  <endpoint address="http://localhost:8080/TicTacToe/Service" binding="wsDualHttpBinding"
		  bindingConfiguration="WSDualHttpBinding_TicTacToe" contract="TicTacToeService.TicTacToe"
		  name="WSDualHttpBinding_TicTacToe">
		<identity>
		  <userPrincipalName value="IBUYPOWER\jhess" />
		</identity>
	  </endpoint>
	</client>
    </system.serviceModel>
</configuration>
